body {
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  height: 200px;
  /* min-height: 200px; */
  background: white;
  box-shadow: 1px 1px 5px 0 gray;
  padding: 10px;
  border-radius: 3px;
  /* min-width: 250px; */
  width: 30vw;
}

.separter {
  height: 1px;
  background: rgb(199, 196, 196);
}

.titlbod {
  height: 30px;
  overflow: hidden;
  text-overflow: ellipse;
  white-space: nowrap;
}

.titlbox {
  height: 10px;
  width: 10px;
  background: rgb(38, 38, 240);
  display: inline-block;
  border-radius: 3px;
}

.title {
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.responbody {
  font-weight: 100;
  font-size: 0.8em;
  padding: 10px 0;
  height: 100px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.action {
  display: flex;
  align-items: end;
  height: 40px;
  justify-content: end;
  padding-bottom: 10px;
  position: relative;
}

.btn {
  background: aliceblue;
  border: none;
  margin-left: 10px;
  padding: 5px;
  box-shadow: 1px 1px 3px 0 gray;
  border-radius: 3px;
}

.btm {
  position: absolute;
  top: 23px;
}

#pagein {
  display: block;
  margin: 30px 0;
  text-align: right;
}

.btnPage {
  border: none;
  box-shadow: 1px 1px 3px 0 gray;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.colorVok {
  background: blue;
  color: white;
}
